<h2 header class="header">{{ "ABOUT_ME.HEADER" | translate }}</h2>

<div class="cards-container">
  <app-card>
    <h3>{{ "ABOUT_ME.BOOTCAMP_TITLE" | translate }}</h3>
    <p>
      {{ "ABOUT_ME.BOOTCAMP_TEXT" | translate }}
    </p>
  </app-card>

  <app-card>
    <h3>{{ "ABOUT_ME.UNIVERSITY_TITLE" | translate }}</h3>
    <p>
      {{ "ABOUT_ME.UNIVERSITY_TEXT" | translate }}
    </p>
  </app-card>

  <app-card>
    <h3>{{ "ABOUT_ME.EXPERIENCE_TITLE" | translate }}</h3>
    <p>
      {{ "ABOUT_ME.EXPERIENCE_TEXT" | translate }}
    </p>
  </app-card>

  <app-card>
    <h3>{{ "ABOUT_ME.STUDIES_TITLE" | translate }}</h3>
    <p>
      {{ "ABOUT_ME.STUDIES_TEXT" | translate }}
    </p>
  </app-card>
</div>
