<h2 header class="header">{{ "SKILLS.HEADER" | translate }}</h2>

<div class="cards-container">
  <app-card>
    <h3>{{ "SKILLS.PROGRAMMING_LANGUAGES_TITLE" | translate }}</h3>
    <div class="skills-grid">
      <div class="skill-item">
        <img
          src="/icons/html5.svg"
          [alt]="'SKILLS.ICONS.HTML5_ALT' | translate"
        />
        <span>HTML5</span>
      </div>
      <div class="skill-item">
        <img
          src="/icons/css3.svg"
          [alt]="'SKILLS.ICONS.CSS3_ALT' | translate"
        />
        <span>CSS3</span>
      </div>
      <div class="skill-item">
        <img
          src="/icons/javascript.svg"
          [alt]="'SKILLS.ICONS.JAVASCRIPT_ALT' | translate"
        />
        <span>JavaScript</span>
      </div>
      <div class="skill-item">
        <img
          src="/icons/typescript.svg"
          [alt]="'SKILLS.ICONS.TYPESCRIPT_ALT' | translate"
        />
        <span>TypeScript</span>
      </div>
      <div class="skill-item">
        <img
          src="/icons/angular.svg"
          [alt]="'SKILLS.ICONS.ANGULAR_ALT' | translate"
        />
        <span>Angular</span>
      </div>
      <div class="skill-item">
        <img
          src="/icons/nodejs.svg"
          [alt]="'SKILLS.ICONS.NODEJS_ALT' | translate"
        />
        <span>Node.js</span>
      </div>
    </div>
  </app-card>

  <app-card>
    <h3>{{ "SKILLS.TOOLS_TITLE" | translate }}</h3>
    <div class="skills-grid">
      <div class="skill-item">
        <img
          src="/icons/jest.svg"
          [alt]="'SKILLS.ICONS.JEST_ALT' | translate"
        />
        <span>Jest</span>
      </div>
      <div class="skill-item">
        <img
          src="/icons/cypress.svg"
          [alt]="'SKILLS.ICONS.CYPRESS_ALT' | translate"
        />
        <span>Cypress</span>
      </div>
      <div class="skill-item">
        <img
          src="/icons/github.svg"
          [alt]="'SKILLS.ICONS.GITHUB_ALT' | translate"
        />
        <span>GitHub</span>
      </div>
      <div class="skill-item">
        <img
          src="/icons/figma.svg"
          [alt]="'SKILLS.ICONS.FIGMA_ALT' | translate"
        />
        <span>Figma</span>
      </div>
      <div class="skill-item">
        <img
          src="/icons/vscode.svg"
          [alt]="'SKILLS.ICONS.VSCODE_ALT' | translate"
        />
        <span>VS Code</span>
      </div>
      <div class="skill-item">
        <img
          src="/icons/git.svg"
          [alt]="'SKILLS.ICONS.GIT_ALT' | translate"
        />
        <span>Git</span>
      </div>
    </div>
  </app-card>
</div>